@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.container {
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
  background: #6b6d6d;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 18px;
  opacity: 0.9;
  padding: 0 2%;

  @media screen and (max-width: 800px) {
    font-size: 24px;
  }
}

.content {
  justify-content: space-between;
  width: 80%;

  @media screen and (max-width: 575px) {
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 10px;
    column-gap: 20px;
  }

  @media screen and (min-width: 576px) and (max-width: 960px) {
    display: grid;
    grid-template-columns: 22% 27% 40%;
    row-gap: 10px;
    justify-content: space-between;
  }
}

.logo {
  font-family: 'Major Mono Display', monospace;
  font-weight: 400;
  color: #83cdc9;
  font-size: 36px;
  cursor: pointer;
  min-width: 140px;
  @media screen and (max-width: 575px) {
    min-width: 90px;
    font-size: 20px;
  }

  @media screen and (min-width: 576px) and (max-width: 960px) {
    font-size: 32px;
  }
}

.textSuggestion {
  font-size: 18px;
  @media screen and (max-width: 960px) {
    grid-row: 2;
    grid-column: 3;
  }
  @media screen and (max-width: 575px) {
    grid-row: 3;
    grid-column: 2;
    font-size: 16px;
  }
}

.text {
  font-size: 18px;
  @media screen and (max-width: 575px) {
    font-size: 16px;
  }
}
